.header {
  display: flex;
  justify-content: space-between;

  .logo {
    max-width: 130px;
  }

  .caption {
    display: none;
  }

  .header-printer {
    display: inline;
    max-width: 36px;
  }
}

.bold {
  font-weight: bolder;
}

.container {
  margin: 0 auto;
  padding: 36px 24px;
}

.bigContainer {
  max-width: 1285px;
  padding: 36px 24px;
}

.scan-printer {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 56px 36px;
  }

  .bigContainer {
    padding: 56px 36px 0 36px;
  }

  .header {
    .caption {
      display: inline;
      max-width: 440px;
      text-align: right;
      color: var(--color-primary-tint);

      .bright {
        color: var(--color-primary);
      }
    }

    .header-printer {
      display: none;
    }
  }

  .scan {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    div {
      width: 80%;
    }

    .scan-printer {
      display: inline;
      max-width: 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 56px 75px;
  }

  .bigContainer {
    padding: 56px 75px 0 75px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    padding: 56px 150px;
  }
}
