.logo {
  max-width: 130px;
}

.bigContainer {
  margin: 0 auto;
  padding: 36px 24px;
  max-width: 1285px;
}
.smallContainer {
  padding: 36px 24px;
}
@media only screen and (min-width: 768px) {
  .bigContainer {
    margin: 0 auto;
    padding: 56px 75px;
  }

  .smallContainer {
    margin: 0 auto;
    padding: 56px 75px;
  }
}

@media only screen and (min-width: 1280px) {
  .smallContainer {
    margin: 0 auto;
    padding: 56px 150px;
  }
}
