.logo {
  max-width: 130px;
}

.container {
  padding: 36px 24px;
}

.bigContainer {
  max-width: 1285px;
  padding: 36px 24px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 56px 75px;
  }


  .bigContainer {
    max-width: 1285px;
    padding: 56px 75px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    padding: 56px 150px;
  }
}
