.leftImage {
  margin: 36px 0 0 0;
}

.insightRight {
  display: flex;
  flex-flow: column-reverse;
}

@media only screen and (min-width: 768px) {
  .leftImage {
    width: 40%;
    margin: 0;
  }

  .insightRight {
    flex-flow: row;
  }

  .insightContentRight {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .leftImage {
    max-width: 400px;
  }

  .insightContentRight {
    margin-left: 50px;
  }
}
